<settings>
    <setting id="hideholidaytheme" type="bool">false</setting>
    <setting id="debuginfo" type="bool">false</setting>
    <setting id="donotpauseoninfo" type="bool">false</setting>
    <setting id="fontcheck" type="bool">true</setting>
    <setting id="ClearPlaylist" type="bool">true</setting>
    <setting id="homepanellayout" type="bool">false</setting>
    <setting id="sidepanelmainmenu" type="bool">false</setting>
    <setting id="hidebackground" type="bool">false</setting>
    <setting id="showstaticbackgroundimage" type="bool">false</setting>
    <setting id="showrandombackgroundimage" type="bool">false</setting>
    <setting id="hidebackgroundplayback" type="bool">false</setting>
    <setting id="blurenabled" type="bool">false</setting>
    <setting id="hidemainmenu" type="bool">false</setting>
    <setting id="minimalfocusanimation" type="bool">false</setting>
    <setting id="hideembyconlabel" type="bool">false</setting>
    <setting id="showcustomhub" type="bool">false</setting>
    <setting id="hideseasonalwidgets" type="bool">false</setting>
    <setting id="usechannellogo" type="bool">false</setting>
    <setting id="hideepgthumboverlay" type="bool">false</setting>
    <setting id="customdevicename" type="bool">false</setting>
    <setting id="kioskmode" type="bool">false</setting>
    <setting id="hideheaderweather" type="bool">false</setting>
    <setting id="showepgthumbvideoosd" type="bool">false</setting>
    <setting id="embuaryinitmessage" type="bool">true</setting>
    <setting id="donotuseholidaythemesound" type="bool">false</setting>
    <setting id="autolibrarytags" type="bool">false</setting>
    <setting id="SkinShortcuts-FullMenu" type="bool">true</setting>
    <setting id="color_accent" type="string"></setting>
    <setting id="color_player_accent" type="string"></setting>
    <setting id="customsearchterm" type="string"></setting>
    <setting id="startupwindow" type="string"></setting>
    <setting id="home_widget_pos_1" type="string">W_InProgressMedia</setting>
    <setting id="home_widget_pos_2" type="string">W_EmbyCon_InProgressMedia</setting>
    <setting id="home_widget_pos_3" type="string">W_PVR</setting>
    <setting id="home_widget_pos_4" type="string">W_NextUp</setting>
    <setting id="home_widget_pos_5" type="string">W_EmbyCon_NextUp</setting>
    <setting id="home_widget_pos_6" type="string">W_NewMovies</setting>
    <setting id="home_widget_pos_7" type="string">W_EmbyCon_NewMovies</setting>
    <setting id="home_widget_pos_8" type="string">W_NewEpisodes</setting>
    <setting id="home_widget_pos_9" type="string">W_EmbyCon_NewEpisodes</setting>
    <setting id="home_widget_pos_10" type="string">W_MixedByGenre</setting>
    <setting id="home_widget_pos_11" type="string">W_NewAlbums</setting>
    <setting id="home_widget_pos_12" type="string">W_EmbyCon_NewAlbums</setting>
    <setting id="home_widget_pos_13" type="string">W_Tmdb_InCinema</setting>
    <setting id="home_widget_pos_14" type="string">W_Tmdb_UpcomingMovies</setting>
    <setting id="home_widget_pos_15" type="string"></setting>
    <setting id="home_widget_pos_16" type="string"></setting>
    <setting id="home_widget_pos_17" type="string"></setting>
    <setting id="home_widget_pos_18" type="string"></setting>
    <setting id="home_widget_pos_19" type="string"></setting>
    <setting id="home_widget_pos_20" type="string"></setting>
    <setting id="home_widget_pos_21" type="string"></setting>
    <setting id="home_widget_pos_22" type="string"></setting>
    <setting id="home_widget_pos_23" type="string"></setting>
    <setting id="home_widget_pos_24" type="string"></setting>
    <setting id="home_widget_pos_25" type="string"></setting>
    <setting id="home_widget_pos_26" type="string"></setting>
    <setting id="home_widget_pos_27" type="string"></setting>
    <setting id="home_widget_pos_28" type="string"></setting>
    <setting id="home_widget_pos_29" type="string"></setting>
    <setting id="home_widget_pos_30" type="string"></setting>
    <setting id="home_widget_pos_31" type="string"></setting>
    <setting id="staticbackgroundimage" type="string"></setting>
    <setting id="randombackgroundimage" type="string"></setting>
    <setting id="backgroundopacity" type="string"></setting>
    <setting id="moviehubheadline" type="string"></setting>
    <setting id="tvshowhubheadline" type="string"></setting>
    <setting id="customhubheadline" type="string"></setting>
    <setting id="color_thumb_fallback" type="string"></setting>
    <setting id="customdevicename_label" type="string"></setting>
    <setting id="BlurContainer" type="string"></setting>
    <setting id="BlurRadius" type="string"></setting>
    <setting id="BlurSaturation" type="string"></setting>
    <setting id="button_focus_accent" type="string"></setting>
    <setting id="ServiceInterval" type="string"></setting>
    <setting id="BackgroundInterval" type="string"></setting>
    <setting id="home_widget_pos_1.label" type="string">Continue watching</setting>
    <setting id="home_widget_pos_2.label" type="string">Continue watching   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="home_widget_pos_3.label" type="string">TV channels</setting>
    <setting id="home_widget_pos_4.label" type="string">Next up</setting>
    <setting id="home_widget_pos_5.label" type="string">Next up   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="home_widget_pos_6.label" type="string">Latest movies</setting>
    <setting id="home_widget_pos_7.label" type="string">Latest movies   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="home_widget_pos_8.label" type="string">Latest TV shows</setting>
    <setting id="home_widget_pos_9.label" type="string">Latest TV shows   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="home_widget_pos_10.label" type="string">Suggestions by genre</setting>
    <setting id="home_widget_pos_11.label" type="string">Latest albums</setting>
    <setting id="home_widget_pos_12.label" type="string">Latest albums   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="home_widget_pos_13.label" type="string">Now playing in theaters</setting>
    <setting id="home_widget_pos_14.label" type="string">New movies coming soon</setting>
    <setting id="moviehub_widget_pos_1" type="string">W_InProgressMovies</setting>
    <setting id="moviehub_widget_pos_2" type="string">W_EmbyCon_InProgressMovies</setting>
    <setting id="moviehub_widget_pos_3" type="string">W_NewMovies</setting>
    <setting id="moviehub_widget_pos_4" type="string">W_EmbyCon_NewMovies</setting>
    <setting id="moviehub_widget_pos_5" type="string">W_MovieGenres</setting>
    <setting id="moviehub_widget_pos_6" type="string">W_EmbyCon_MovieGenres</setting>
    <setting id="moviehub_widget_pos_7" type="string">W_RecommendedMovies</setting>
    <setting id="moviehub_widget_pos_8" type="string">W_EmbyCon_RecommendedMovies</setting>
    <setting id="moviehub_widget_pos_9" type="string">W_SimilarMovies</setting>
    <setting id="moviehub_widget_pos_10" type="string">W_EmbyCon_SimilarMovies</setting>
    <setting id="moviehub_widget_pos_11" type="string">W_MoviesByGenre</setting>
    <setting id="moviehub_widget_pos_1.label" type="string">Continue watching</setting>
    <setting id="moviehub_widget_pos_2.label" type="string">Continue watching   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="moviehub_widget_pos_3.label" type="string">Latest movies</setting>
    <setting id="moviehub_widget_pos_4.label" type="string">Latest movies   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="moviehub_widget_pos_5.label" type="string">Genres</setting>
    <setting id="moviehub_widget_pos_6.label" type="string">Genres   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="moviehub_widget_pos_7.label" type="string">Recommended movies</setting>
    <setting id="moviehub_widget_pos_8.label" type="string">Recommended movies   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="moviehub_widget_pos_9.label" type="string">Because you watched</setting>
    <setting id="moviehub_widget_pos_10.label" type="string">Because you watched   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="moviehub_widget_pos_11.label" type="string">Suggestions by genre</setting>
    <setting id="tvshowhub_widget_pos_1" type="string">W_InProgressShows</setting>
    <setting id="tvshowhub_widget_pos_2" type="string">W_EmbyCon_InProgressShows</setting>
    <setting id="tvshowhub_widget_pos_3" type="string">W_NextUp</setting>
    <setting id="tvshowhub_widget_pos_4" type="string">W_EmbyCon_NextUp</setting>
    <setting id="tvshowhub_widget_pos_5" type="string">W_NewEpisodes</setting>
    <setting id="tvshowhub_widget_pos_6" type="string">W_EmbyCon_NewEpisodes</setting>
    <setting id="tvshowhub_widget_pos_7" type="string">W_TVShowGenres</setting>
    <setting id="tvshowhub_widget_pos_8" type="string">W_EmbyCon_TVShowGenres</setting>
    <setting id="tvshowhub_widget_pos_9" type="string">W_SimilarShows</setting>
    <setting id="tvshowhub_widget_pos_10" type="string">W_RecommendedShows</setting>
    <setting id="tvshowhub_widget_pos_11" type="string">W_EmbyCon_RecommendedShows</setting>
    <setting id="tvshowhub_widget_pos_12" type="string">W_TVShowsByGenre</setting>
    <setting id="tvshowhub_widget_pos_1.label" type="string">Continue watching</setting>
    <setting id="tvshowhub_widget_pos_2.label" type="string">Continue watching   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="tvshowhub_widget_pos_3.label" type="string">Next up</setting>
    <setting id="tvshowhub_widget_pos_4.label" type="string">Next up   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="tvshowhub_widget_pos_5.label" type="string">Latest TV shows</setting>
    <setting id="tvshowhub_widget_pos_6.label" type="string">Latest TV shows   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="tvshowhub_widget_pos_7.label" type="string">Genres</setting>
    <setting id="tvshowhub_widget_pos_8.label" type="string">Genres   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="tvshowhub_widget_pos_9.label" type="string">Because you watched</setting>
    <setting id="tvshowhub_widget_pos_10.label" type="string">Recommended TV shows</setting>
    <setting id="tvshowhub_widget_pos_11.label" type="string">Recommended TV shows   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="tvshowhub_widget_pos_12.label" type="string">Suggestions by genre</setting>
    <setting id="musichub_widget_pos_1" type="string">W_NewAlbums</setting>
    <setting id="musichub_widget_pos_2" type="string">W_EmbyCon_NewAlbums</setting>
    <setting id="musichub_widget_pos_3" type="string">W_PlayedAlbums</setting>
    <setting id="musichub_widget_pos_4" type="string">W_OftenPlayedSongs</setting>
    <setting id="musichub_widget_pos_5" type="string">W_EmbyCon_OftenPlayedSongs</setting>
    <setting id="musichub_widget_pos_6" type="string">W_EmbyCon_FavArtists</setting>
    <setting id="musichub_widget_pos_7" type="string">W_EmbyCon_FavAlbums</setting>
    <setting id="musichub_widget_pos_8" type="string">W_EmbyCon_FavSongs</setting>
    <setting id="musichub_widget_pos_1.label" type="string">Latest albums</setting>
    <setting id="musichub_widget_pos_2.label" type="string">Latest albums   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="musichub_widget_pos_3.label" type="string">Recently played albums</setting>
    <setting id="musichub_widget_pos_4.label" type="string">Often played songs</setting>
    <setting id="musichub_widget_pos_5.label" type="string">Often played songs   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="musichub_widget_pos_6.label" type="string">Favourite artists   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="musichub_widget_pos_7.label" type="string">Favourite albums   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="musichub_widget_pos_8.label" type="string">Favourite songs   [COLOR lightgrey](EmbyCon node)[/COLOR]</setting>
    <setting id="tagmixedhub_widget_pos_1" type="string">W_TagHub_InProgress</setting>
    <setting id="tagmixedhub_widget_pos_2" type="string">W_TagHub_NextUp</setting>
    <setting id="tagmixedhub_widget_pos_3" type="string">W_TagHub_NewMovies</setting>
    <setting id="tagmixedhub_widget_pos_4" type="string">W_TagHub_NewEpisodes</setting>
    <setting id="tagmixedhub_widget_pos_5" type="string">W_TagHub_MovieGenres</setting>
    <setting id="tagmixedhub_widget_pos_6" type="string">W_TagHub_TVShowGenres</setting>
    <setting id="tagmixedhub_widget_pos_7" type="string">W_TagHub_MixedByGenre</setting>
    <setting id="tagmixedhub_widget_pos_8" type="string">W_TagHub_RecommendedMovies</setting>
    <setting id="tagmixedhub_widget_pos_9" type="string">W_TagHub_RecommendedShows</setting>
    <setting id="tagmixedhub_widget_pos_10" type="string">W_TagHub_SimilarMovies</setting>
    <setting id="tagmixedhub_widget_pos_11" type="string">W_TagHub_SimilarShows</setting>
    <setting id="tagmixedhub_widget_pos_12" type="string">W_TagHub_RandomMovies</setting>
    <setting id="tagmixedhub_widget_pos_13" type="string">W_TagHub_RandomShows</setting>
    <setting id="tagmixedhub_widget_pos_1.label" type="string">Continue watching</setting>
    <setting id="tagmixedhub_widget_pos_2.label" type="string">Next up</setting>
    <setting id="tagmixedhub_widget_pos_3.label" type="string">Latest movies</setting>
    <setting id="tagmixedhub_widget_pos_4.label" type="string">Latest TV shows</setting>
    <setting id="tagmixedhub_widget_pos_5.label" type="string">Movie genres</setting>
    <setting id="tagmixedhub_widget_pos_6.label" type="string">TV show genres</setting>
    <setting id="tagmixedhub_widget_pos_7.label" type="string">Suggestions by genre</setting>
    <setting id="tagmixedhub_widget_pos_8.label" type="string">Recommended movies</setting>
    <setting id="tagmixedhub_widget_pos_9.label" type="string">Recommended TV shows</setting>
    <setting id="tagmixedhub_widget_pos_10.label" type="string">Because you watched (Movies)</setting>
    <setting id="tagmixedhub_widget_pos_11.label" type="string">Because you watched (TV shows)</setting>
    <setting id="tagmixedhub_widget_pos_12.label" type="string">Random movies</setting>
    <setting id="tagmixedhub_widget_pos_13.label" type="string">Random TV shows</setting>
    <setting id="tagmoviehub_widget_pos_1" type="string">W_TagHub_InProgressMovies</setting>
    <setting id="tagmoviehub_widget_pos_2" type="string">W_TagHub_NewMovies</setting>
    <setting id="tagmoviehub_widget_pos_3" type="string">W_TagHub_MovieGenres</setting>
    <setting id="tagmoviehub_widget_pos_4" type="string">W_TagHub_RecommendedMovies</setting>
    <setting id="tagmoviehub_widget_pos_5" type="string">W_TagHub_SimilarMovies</setting>
    <setting id="tagmoviehub_widget_pos_6" type="string">W_TagHub_MoviesByGenre</setting>
    <setting id="tagmoviehub_widget_pos_7" type="string">W_TagHub_RandomMovies</setting>
    <setting id="tagmoviehub_widget_pos_1.label" type="string">Continue watching</setting>
    <setting id="tagmoviehub_widget_pos_2.label" type="string">Latest movies</setting>
    <setting id="tagmoviehub_widget_pos_3.label" type="string">Genres</setting>
    <setting id="tagmoviehub_widget_pos_4.label" type="string">Recommended movies</setting>
    <setting id="tagmoviehub_widget_pos_5.label" type="string">Because you watched</setting>
    <setting id="tagmoviehub_widget_pos_6.label" type="string">Suggestions by genre</setting>
    <setting id="tagmoviehub_widget_pos_7.label" type="string">Random movies</setting>
    <setting id="tagtvshowhub_widget_pos_1" type="string">W_TagHub_InprogressEpisodes</setting>
    <setting id="tagtvshowhub_widget_pos_2" type="string">W_TagHub_NextUp</setting>
    <setting id="tagtvshowhub_widget_pos_3" type="string">W_TagHub_NewEpisodes</setting>
    <setting id="tagtvshowhub_widget_pos_4" type="string">W_TagHub_TVShowGenres</setting>
    <setting id="tagtvshowhub_widget_pos_5" type="string">W_TagHub_RecommendedShows</setting>
    <setting id="tagtvshowhub_widget_pos_6" type="string">W_TagHub_SimilarShows</setting>
    <setting id="tagtvshowhub_widget_pos_7" type="string">W_TagHub_TVShowsByGenre</setting>
    <setting id="tagtvshowhub_widget_pos_8" type="string">W_TagHub_RandomShows</setting>
    <setting id="tagtvshowhub_widget_pos_1.label" type="string">Continue watching</setting>
    <setting id="tagtvshowhub_widget_pos_2.label" type="string">Next up</setting>
    <setting id="tagtvshowhub_widget_pos_3.label" type="string">Latest TV shows</setting>
    <setting id="tagtvshowhub_widget_pos_4.label" type="string">Genres</setting>
    <setting id="tagtvshowhub_widget_pos_5.label" type="string">Recommended TV shows</setting>
    <setting id="tagtvshowhub_widget_pos_6.label" type="string">Because you watched</setting>
    <setting id="tagtvshowhub_widget_pos_7.label" type="string">Suggestions by genre</setting>
    <setting id="tagtvshowhub_widget_pos_8.label" type="string">Random TV shows</setting>
    <setting id="embyconmoviehub_widget_pos_1" type="string">W_EmbyConHub_InProgressMovies</setting>
    <setting id="embyconmoviehub_widget_pos_2" type="string">W_EmbyConHub_NewMovies</setting>
    <setting id="embyconmoviehub_widget_pos_3" type="string">W_EmbyConHub_RecommendedMovies</setting>
    <setting id="embyconmoviehub_widget_pos_4" type="string">W_EmbyConHub_RandomMovies</setting>
    <setting id="embyconmoviehub_widget_pos_5" type="string">W_EmbyConHub_MovieGenres</setting>
    <setting id="embyconmoviehub_widget_pos_1.label" type="string">Continue watching</setting>
    <setting id="embyconmoviehub_widget_pos_2.label" type="string">Latest movies</setting>
    <setting id="embyconmoviehub_widget_pos_3.label" type="string">Recommended movies</setting>
    <setting id="embyconmoviehub_widget_pos_4.label" type="string">Random movies</setting>
    <setting id="embyconmoviehub_widget_pos_5.label" type="string">Genres</setting>
    <setting id="embycontvshowhub_widget_pos_1" type="string">W_EmbyConHub_InProgressShows</setting>
    <setting id="embycontvshowhub_widget_pos_2" type="string">W_EmbyConHub_NextUp</setting>
    <setting id="embycontvshowhub_widget_pos_3" type="string">W_EmbyConHub_NewEpisodes</setting>
    <setting id="embycontvshowhub_widget_pos_4" type="string">W_EmbyConHub_RecommendedShows</setting>
    <setting id="embycontvshowhub_widget_pos_5" type="string">W_EmbyConHub_RandomShows</setting>
    <setting id="embycontvshowhub_widget_pos_6" type="string">W_EmbyConHub_TVShowGenres</setting>
    <setting id="embycontvshowhub_widget_pos_1.label" type="string">Continue watching</setting>
    <setting id="embycontvshowhub_widget_pos_2.label" type="string">Next up</setting>
    <setting id="embycontvshowhub_widget_pos_3.label" type="string">Latest TV shows</setting>
    <setting id="embycontvshowhub_widget_pos_4.label" type="string">Recommended TV shows</setting>
    <setting id="embycontvshowhub_widget_pos_5.label" type="string">Random TV shows</setting>
    <setting id="embycontvshowhub_widget_pos_6.label" type="string">Genres</setting>
    <setting id="embyconmusichub_widget_pos_1" type="string">W_EmbyConHub_NewAlbums</setting>
    <setting id="embyconmusichub_widget_pos_2" type="string">W_EmbyConHub_PlayedSongs</setting>
    <setting id="embyconmusichub_widget_pos_3" type="string">W_EmbyConHub_OftenPlayed</setting>
    <setting id="embyconmusichub_widget_pos_4" type="string">W_EmbyConHub_FavArtists</setting>
    <setting id="embyconmusichub_widget_pos_5" type="string">W_EmbyConHub_FavAlbums</setting>
    <setting id="embyconmusichub_widget_pos_6" type="string">W_EmbyConHub_FavSongs</setting>
    <setting id="embyconmusichub_widget_pos_1.label" type="string">Latest albums</setting>
    <setting id="embyconmusichub_widget_pos_2.label" type="string">Recently played songs</setting>
    <setting id="embyconmusichub_widget_pos_3.label" type="string">Often played songs</setting>
    <setting id="embyconmusichub_widget_pos_4.label" type="string">Favourite artists</setting>
    <setting id="embyconmusichub_widget_pos_5.label" type="string">Favourite albums</setting>
    <setting id="embyconmusichub_widget_pos_6.label" type="string">Favourite songs</setting>
    <setting id="epgar" type="string"></setting>
    <setting id="wide_widget_limit" type="string"></setting>
    <setting id="poster_widget_limit" type="string"></setting>
    <setting id="square_widget_limit" type="string"></setting>
    <setting id="skinshortcuts-sharedmenu" type="string">true</setting>
</settings>
