# https://github.com/mnussbaum/base16-qt5ct
[ColorScheme]
active_colors=#ff{{ base0C-hex }}, #ff{{ base01-hex }}, #ff{{ base01-hex }}, #ff{{ base05-hex }}, #ff{{ base03-hex }}, #ff{{ base04-hex }}, #ff{{ base0E-hex }}, #ff{{ base06-hex }}, #ff{{ base05-hex }}, #ff{{ base01-hex }}, #ff{{ base00-hex }}, #ff{{ base03-hex }}, #ff{{ base02-hex }}, #ff{{ base0E-hex }}, #ff{{ base09-hex }}, #ff{{ base08-hex }}, #ff{{ base02-hex }}, #ff{{ base05-hex }}, #ff{{ base01-hex }}, #ff{{ base0E-hex }}, #8f{{ base0E-hex }}
disabled_colors=#ff{{ base0F-hex }}, #ff{{ base01-hex }}, #ff{{ base01-hex }}, #ff{{ base05-hex }}, #ff{{ base03-hex }}, #ff{{ base04-hex }}, #ff{{ base0F-hex }}, #ff{{ base0F-hex }}, #ff{{ base0F-hex }}, #ff{{ base01-hex }}, #ff{{ base00-hex }}, #ff{{ base03-hex }}, #ff{{ base02-hex }}, #ff{{ base0E-hex }}, #ff{{ base09-hex }}, #ff{{ base08-hex }}, #ff{{ base02-hex }}, #ff{{ base05-hex }}, #ff{{ base01-hex }}, #ff{{ base0F-hex }}, #8f{{ base0F-hex }}
inactive_colors=#ff{{ base0C-hex }}, #ff{{ base01-hex }}, #ff{{ base01-hex }}, #ff{{ base05-hex }}, #ff{{ base03-hex }}, #ff{{ base04-hex }}, #ff{{ base0E-hex }}, #ff{{ base06-hex }}, #ff{{ base05-hex }}, #ff{{ base01-hex }}, #ff{{ base00-hex }}, #ff{{ base03-hex }}, #ff{{ base02-hex }}, #ff{{ base0E-hex }}, #ff{{ base09-hex }}, #ff{{ base08-hex }}, #ff{{ base02-hex }}, #ff{{ base05-hex }}, #ff{{ base01-hex }}, #ff{{ base0E-hex }}, #8f{{ base0E-hex }}
